<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/heroe.css">
</head>

<body>
    <nav>
        <div class='titulo'>
            <h1>Babbage</h1>
        </div>
        <div class='menu'>
            <a href="/">
                <h1>Volver a inicio</h1>
            </a>
        </div>
    </nav>



    <section class='container'>

        <div class='centro'>
            <div class='card'>
                <img src="/img/babbage.jpg" alt="">
                <span class='name'>Charles Babbage</span>
            </div>
        </div>

        <span class='info'>
            Charles Babbage (Teignmouth, Devonshire, Gran Bretaña, 26 de diciembre de 1791-Londres, 18 de octubre de
            1871) fue un matemático y científico de la computación británico.1​ Diseñó y desarrolló una calculadora
            mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, pero
            nunca construyó, la analítica para ejecutar programas de tabulación o computación; por estos inventos se le
            considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora,
            por lo que se le considera como "El Padre de la computación". En el Museo de Ciencias de Londres se exhiben
            partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College
            of Surgeons of England. Sitio en Londres.2​
        </span>
        <span class='fuente'>
            Fuente: <a href="https://es.wikipedia.org/wiki/Charles_Babbage">Wikipedia</a>
        </span>

    </section>
</body>

</html>