<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Berners-Lee</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/heroe.css">
</head>

<body>
    <nav>
        <div class='titulo'>
            <h1>Tim Berners-Lee</h1>
        </div>
        <div class='menu'>
            <a href="/">
                <h1>Volver a inicio</h1>
            </a>
        </div>
    </nav>



    <section class='container'>

        <div class='centro'>
            <div class='card'>
                <img src="/img/berner.jpg" alt="">
                <span class='name'>Tim Berners-Lee</span>
            </div>
        </div>

        <span class='info'>
            Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), conocido como Tim Berners-Lee, es
            un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la
            primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En
            octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y
            estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el
            funcionamiento de Internet.
        </span>
        <span class='fuente'>
            Fuente: <a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee">Wikipedia</a>
        </span>

    </section>
</body>

</html>