<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Hopper</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/heroe.css">
</head>

<body>
    <nav>
        <div class='titulo'>
            <h1>Grace Hopper</h1>
        </div>
        <div class='menu'>
            <a href="/">
                <h1>Volver a inicio</h1>
            </a>
        </div>
    </nav>



    <section class='container'>

        <div class='centro'>
            <div class='card'>
                <img src="/img/hopper.jpg" alt="">
                <span class='name'>Grace Hopper</span>
            </div>
        </div>

        <span class='info'>
            Grace Murray Hopper (Nueva York, 9 de diciembre de 1906 - Condado de Arlington, 1 de enero de 1992) fue una
            científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo
            de las ciencias de la computación y la primera programadora que utilizó el Mark I. Entre las décadas de los
            50 y 60 desarrolló el primer compilador para un lenguaje de programación así como también propició métodos
            de validación. 1​2​3​4​5​6​

            Popularizó la idea de los lenguajes de programación independientes de la máquina, lo que derivó en el
            desarrollo de COBOL, un lenguaje de alto nivel de programación que aún se utiliza. Era conocida por sus
            amistades como Amazing Grace.7​
        </span>
        <span class='fuente'>
            Fuente: <a href="https://es.wikipedia.org/wiki/Grace_Murray_Hopper">Wikipedia</a>
        </span>

    </section>
</body>

</html>