<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <nav>
        <div class='titulo'>
            <h1>Bienvenidos!</h1>
        </div>
    </nav>



    <section class='container'>
        <div class='izquierda'>
            <div class='card'>
                <a href="/babbage"><img src="/img/babbage.jpg" alt=""></a>
                <span class='name'>Charles Babbage</span>
            </div>
            <div class='card'>
                <a href="/berners-lee"><img src="/img/berner.jpg" alt=""></a>
                <span class='name'>Tim Berners-Lee</span>
            </div>
            <div class='card'>
                <a href="/lovelace"><img src="/img/lovelace.jpg" alt=""></a>
                <span class='name'>Ada Lovelace</span>
            </div>
        </div>
        <div class='centro'>
            <div class='card'>
                <a href="/turing"><img src="/img/turing.jpg" alt=""></a>
                <span class='name'>Alan Turing</span>
            </div>
        </div>
        <div class='derecha'>
            <div class='card'>
                <a href="/hopper"><img src="/img/hopper.jpg" alt=""></a>
                <span class='name'>Grace Hopper</span>
            </div>
            <div class='card'>
                <a href="/hamilton"><img src="/img/hamilton.jpg" alt=""></a>
                <span class='name'>Margaret Hamilton</span>
            </div>
            <div class='card'>
                <a href="/clarke"><img src="/img/clarke.jpg" alt=""></a>
                <span class='name'>Edith Clarke</span>
            </div>
        </div>
    </section>
</body>

</html>